body {
    background-color: darkslategray;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    color: silver;
}

input {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
}

table {
    margin: auto;
}

table,
td,
th {
    border-collapse: collapse;
    margin-top: 10px;
}

th {
    background-color: rgb(95, 95, 95);
    color: white;
}

a {
    text-decoration: none;
    color: silver;
    display: block;
    padding: 30px;
    margin: 5px;
    background-color: gray;
}

td:hover {
    background-color: silver;
}

#container {
    max-width: 600px;
    margin: auto;
    text-align: center;
}

.result i {
    left: 0px;
    width: 150px;
    height: 150px;
    display: inline-block;
}

.result p {
    margin: 0;
}

.win i {
    background: url(../images/happy_sad.png) no-repeat -150px 0/300px 150px;
}

.win p::after {
    content: "You win!";
}

.lose i {
    background: url(../images/happy_sad.png) no-repeat 0 0/300px 150px;
}

.lose p::after {
    content: "You lose!";
}

.page-header {
    margin: 0;
    padding: 10px;
}

.page-header p, .page-header a {
    display: inline-block;
    margin: 0;
}

.page-header p {
    float: left;
}

.page-header a {
    float: right;
    padding: 10px;
}

.page-header a:hover, .page-footer a:hover {
    background-color: #f1f1f1;
}

.page-header::after {  
    content: "";
    display: table;
    clear: both;
}

.card {
    padding: 10px;
    margin: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    background-color: #f1f1f1;
    text-align: left;
    font-size: 20px;
}

.card span {
    color: #ccd;
}

.card h3, .card p {
    margin: 0;
}

.card.info {
    border-radius: 10px;
    background-color: black;
}